.form {
  border: 2px solid;
  border-radius: 10px;
  width: fit-content;
  padding: 20px;
  margin: 20px 0;
}

.submitBtn {
  font-size: 18px;
  padding: 10px 20px;
  margin: 15px;
  background-color:#FFFF24;
}

.error-message {
  display: block;
  color: #ff0000d8;
  font-size: 14px;
}

.inputGroup{
  justify-content: center;
  padding-top: 15px;
}